main.exe
main.exe
.vscode/settings.json
bit.exe
bitwise.cpp
instr.exe
strtest.txt
test.txt
main
programs/unix
programs/.boxprint.swp
parser.cpp
.vscode/launch.json
.vscode/tasks.json
testing.cpp
testing.exe
programs/control
src/instr.exe
src/main.exe
src/instr
src/main
out/instr.exe
out/main.exe
out/instr
out/main
out/test.exe
out/assembler.exe
out/assembler
out/bash_assembler
out/bash_main
debug.inst
.inst
out/cpu.exe
*.exe